<video controls="controls">
	<f:if condition="{video.hasWebM}">
		<source src="{video.webM.originalResource.publicUrl}" type="video/webm"/>
	</f:if>

	<f:if condition="{video.hasH264}">
		<source src="{video.h264.originalResource.publicUrl}" type="video/mp4"/>
	</f:if>

	<f:if condition="{video.hasOgv}">
		<source src="{video.ogv.originalResource.publicUrl}" type="video/ogg"/>
	</f:if>

	<div class="tx-html5mediakit-video-fallbacktext">
		<p><f:translate key="media_video_tag_not_supported"/></p>

		<f:if condition="{video.hasWebM}">
			<p>
				<a href="{video.webM.originalResource.publicUrl}">{video.webM.name}</a>
				<f:translate key="media_video_download_hint_webm"/>
			</p>
		</f:if>

		<f:if condition="{video.hasH264}">
			<p>
				<a href="{video.h264.originalResource.publicUrl}">{video.h264.name}</a>
				<f:translate key="media_video_download_hint_h265"/>
			</p>
		</f:if>

		<f:if condition="{video.hasOgv}">
			<p>
				<a href="{video.ogv.originalResource.publicUrl}">{video.ogv.name}</a>
				<f:translate key="media_video_download_hint_ogv"/>
			</p>
		</f:if>
	</div>
</video>
